@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';

.app {
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  padding-top: calc(sizes.$HEADER_H + 20px);
  background-color: colors.$BACKGROUND;
}
