@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';
@use '/src/styles/constants/levels';

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: levels.$MODAL;
  background-color: rgba(0, 0, 0, 80%);
}

.modalWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 400px;
  overflow: hidden;
  text-align: center;
  background: colors.$BACKGROUND;
  border-radius: sizes.$BORDER_RADIUS;
  transform: translate(-50%, -50%);

  .poster {
    position: relative;
    height: 500px;
    background-image: url('../../assets/images/no_image.png');
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid colors.$GRAY3;

    > div {
      position: absolute;
      bottom: 20px;
      width: 100%;
    }
  }

  button {
    width: 50%;
    height: 60px;
    font-size: 16px;
    color: colors.$GRAYE;

    + button {
      border-left: 1px solid colors.$GRAY3;
    }
  }
}
