@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';

.movieWrapper {
  max-width: sizes.$MAX_WIDTH;
  height: sizes.$MOVIE_ITEM_HEIGHT;
  margin: 0 auto;
  overflow: hidden;
  background-color: #24243b;
  border-radius: sizes.$BORDER_RADIUS;

  + .movieWrapper {
    margin-top: 20px;
  }

  .movieItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .movieInfo {
      display: flex;
    }

    img {
      flex-shrink: 0;
      width: 110px;
      height: sizes.$MOVIE_ITEM_HEIGHT;
      object-fit: cover;
    }

    .movieInfoText {
      padding: 16px 0 16px 20px;
      color: colors.$GRAYE;
      text-align: start;

      h3 {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
      }

      span {
        font-size: 14px;
        color: colors.$GRAYA;

        + span {
          padding-left: 7px;
          margin-left: 7px;
          border-left: 1px solid colors.$GRAYA;
        }
      }
    }

    svg {
      margin: 0 20px 0 10px;
      fill: colors.$GRAYA;

      &.liked {
        fill: colors.$PINK;
      }
    }
  }
}
