@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: sizes.$HEADER_HEIGHT;
  padding: 0 20px;
  color: colors.$GRAYE;
  background-color: colors.$BACKGROUND;
}
