@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.header {
  margin: auto 0;
  font-size: 18px;
  font-weight: 600;
}

.noResult {
  @include position.middleBox;
  text-align: center;
  font-size: 18px;
  color: colors.$GRAY3;
}
