@use '/src/styles/constants/colors';

.searchForm {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .inputWrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }

  input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
  }
}

.movieWrapper {
  width: 90%;
  margin: 0 auto;
  background-color: colors.$WHITE;
  border-radius: 20px;

  + .movieWrapper {
    margin-top: 20px;
  }

  .movieItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 30px;

    .movieInfo {
      display: flex;
    }

    img {
      width: 100px;
      border-radius: 10px;
    }

    .movieInfoText {
      padding: 10px 20px;
      text-align: start;

      :first-child {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}

.noResult {
  margin-top: 240px;
  text-align: center;
}
