@use '/src/styles/constants/colors';

.gnb {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 24px 16px;
  background-color: colors.$GNB;
  border-top: 1px solid colors.$GRAYE;

  ul {
    display: flex;
    justify-content: space-around;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: colors.$GRAY6;
    transition: 0.2s;

    &.isActive {
      color: colors.$BLACK;
      font-weight: 600;
    }

    svg {
      fill: currentColor;
      margin-right: 4px;
    }
  }
}
