@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';
@use '/src/styles/mixins/position';

.searchForm {
  width: 100%;
  max-width: sizes.$MAX_WIDTH;
  background-color: colors.$ITEM_BACKGROUND;
  border-radius: 30px;

  .inputWrapper {
    display: flex;
    align-items: center;
    padding: 10px 20px;

    input {
      width: 100%;
      padding: 0 12px;
      font-size: 18px;
      color: colors.$GRAYE;

      &::placeholder {
        color: colors.$GRAYA;
      }
    }

    svg {
      fill: colors.$GRAYA;
    }
  }
}

.noResult {
  @include position.middleBox;
  font-size: 18px;
  color: colors.$GRAY3;
  text-align: center;
}
