@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';
@use '/src/styles/mixins/position';

.searchForm {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: sizes.$MAX_WIDTH;

  .inputWrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }

  input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
  }

  svg {
    fill: colors.$GRAY6;
  }
}

.noResult {
  @include position.middleBox;
  font-size: 18px;
  color: colors.$GRAY3;
  text-align: center;
}
