@use '/src/styles/constants/colors';

.noResult {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-size: 18px;
  color: colors.$GRAY3;
  background-color: colors.$GRAYD;
}
